.back {
    float: right;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
}


canvas {
    background-color: lavender;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 50px;
}